extends layout

block content
 div(ng-app="prueba",ng-controller="controladorAcordeon")
       br
       br
       h1(style="text-align:center") Currently building the mobile version. We apologize for the inconvenience....
        br
        br
        br
        br
        i(class="glyphicon glyphicon-wrench")



