doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet',type="text/css",href='http://approveitbucket.s3.amazonaws.com/approveit/public/stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel="shortcut icon",type="image/png",href="http://approveitbucket.s3.amazonaws.com/approveit/public/compressedImages/appicon.png")
    script(type="text/javascript",src='http://approveitbucket.s3.amazonaws.com/approveit/public/javascripts/angular.min.js')
    script(type="text/javascript",src='http://approveitbucket.s3.amazonaws.com/approveit/public/javascripts/globals.js')
  body
    block content
    
    