extends layout

block content
	link(rel='stylesheet',type='text/css',href='http://approveitbucket.s3.amazonaws.com/approveit/public/stylesheets/index.min.css')
	script(type="text/javascript",src="http://approveitbucket.s3.amazonaws.com/approveit/public/javascripts/passwordChange.min.js")
	div(id="vistaFormDos",ng-app="passwordChange",ng-controller="passwordChangeController" ng-cloak)
			label(id="indicacionRecup") Please type in a new password
			form(method="",action="",class="form-signin",role="form")
				input(type="hidden",ng-init="key = '#{key}'")
				input(type="password",id="pass1",ng-model="form.pass1",name="pass1",placeholder="password",class="form-control",maxlength="12" required)
				input(type="password",id="pass2",ng-model="form.pass2",name="pass2",placeholder="confirm password",class="form-control",maxlength="12" required)
				br
				input(type="submit",ng-click="validar($event)",value="Reset Password",class="btn btn-lg btn-primary btn-block")
			img(id="loader",src="http://approveitbucket.s3.amazonaws.com/approveit/public/compressedImages/ajax_loader.gif",ng-show="showLoader")

